In [35]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

In [36]:
import csv

In [37]:
GDP  = pd.read_csv('/Users/Mushroom/Downloads/viz_datasets/TeamProject/GDP_currentUS.csv',sep=',',skiprows=4)

In [38]:
worldcup = pd.read_csv('/Users/Mushroom/Downloads/viz_datasets/TeamProject/WorldCups.csv')

In [39]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,9.533511e+10,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.858518e+09,NaN,NaN

In [40]:
worldcup.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [41]:
len(worldcup)

21

In [42]:
GDP = GDP.rename(columns={'Country Name': 'Country'})

In [43]:
worldcupGDP = worldcup.merge(GDP, how='left')

In [44]:
worldcupGDP.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,...,3.166091e+10,4.028448e+10,4.796244e+10,5.126439e+10,5.753123e+10,5.723601e+10,5.327430e+10,5.241972e+10,NaN,NaN
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363,...,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832868e+12,1.859384e+12,NaN,NaN
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7,...,2.693827e+12,2.646837e+12,2.862680e+12,2.681416e+12,2.808511e+12,2.849305e+12,2.433562e+12,2.465454e+12,NaN,NaN
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,...,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12,1.796187e+12,NaN,NaN
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,...,5.415065e+11,5.837830e+11,6.995796e+11,6.680436e+11,6.885042e+11,7.091826e+11,6.792892e+11,6.688513e+11,NaN,NaN

In [45]:
worldcupGDP.isnull().sum()

Year               0
Country            0
Winner             0
Runners-Up         0
Third              0
Fourth             0
GoalsScored        0
QualifiedTeams     0
MatchesPlayed      0
Attendance         0
Country Code       0
Indicator Name     0
Indicator Code     0
1960               3
1961               3
1962               2
1963               2
1964               2
1965               2
1966               2
1967               2
1968               2
1969               2
1970               1
1971               1
1972               1
1973               1
1974               1
1975               1
1976               1
                  ..
1989               0
1990               0
1991               0
1992               0
1993               0
1994               0
1995               0
1996               0
1997               0
1998               0
1999               0
2000               0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017              21
Unnamed: 62       21
Length: 72, dtype: int64

In [46]:
worldcupGDP = worldcupGDP.drop(['2017', 'Unnamed: 62'], axis=1)

In [47]:
worldcupGDP.to_csv('worldcupGDP.csv')

In [48]:
GDP_growth  = pd.read_csv('/Users/Mushroom/Downloads/viz_datasets/TeamProject/GDP growth.csv',sep=',',skiprows=4)

In [49]:
GDP_growth.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.653502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,21.020649,8.433290,6.113685,14.434741,3.900575,2.690522,1.310040,2.366712,NaN,NaN
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.412870,3.407655,3.918597,5.155441,6.813586,4.804473,3.006981,-0.665353,NaN,NaN
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.352610,3.710058,2.550161,1.419968,1.000755,1.774369,2.226581,3.369989,NaN,NaN
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.232243,NaN,NaN

In [50]:
GDP_growth = GDP_growth.rename(columns={'Country Name': 'Country'})

In [51]:
worldcupGDPGrowth = worldcup.merge(GDP_growth, how='left')

In [52]:
worldcupGDPGrowth.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,...,4.243494,7.803410,5.162133,3.538179,4.637539,3.238791,0.370741,1.453431,NaN,NaN
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363,...,-5.482055,1.686523,0.576623,-2.819014,-1.728161,0.113673,0.951959,0.858263,NaN,NaN
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7,...,-2.941341,1.965657,2.079229,0.182693,0.576242,0.947586,1.067462,1.187650,NaN,NaN
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,...,-0.125873,7.528224,3.974425,1.921150,3.004865,0.503962,-3.769253,-3.594739,NaN,NaN
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,...,-2.222107,3.002699,1.692808,1.006024,1.852040,2.449218,1.226384,1.375884,NaN,NaN

In [53]:
worldcupGDPGrowth.isnull().sum()

Year               0
Country            0
Winner             0
Runners-Up         0
Third              0
Fourth             0
GoalsScored        0
QualifiedTeams     0
MatchesPlayed      0
Attendance         0
Country Code       0
Indicator Name     0
Indicator Code     0
1960              21
1961               3
1962               3
1963               3
1964               3
1965               3
1966               3
1967               3
1968               3
1969               3
1970               3
1971               1
1972               1
1973               1
1974               1
1975               1
1976               1
                  ..
1989               0
1990               0
1991               0
1992               0
1993               0
1994               0
1995               0
1996               0
1997               0
1998               0
1999               0
2000               0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017              21
Unnamed: 62       21
Length: 72, dtype: int64

In [54]:
worldcupGDPGrowth = worldcupGDPGrowth.drop(['2017', 'Unnamed: 62'], axis=1)

In [55]:
worldcupGDPGrowth.to_csv('worldcupGDPGrowth.csv')